@charset "utf-8";

body {
	padding-top: 41px;
	background-color: #f7f7f7;
	min-width: 1350px;
}


.navbar-inverse .nav .active>a {
	background-image: linear-gradient(to bottom,#444,#333);
	border-left: solid 1px #333;
	border-right: solid 1px #333;
}
.navbar-inverse .navbar-inner {
	background-image: linear-gradient(to bottom,#555,#333);
}
.navbar-inverse .navbar-inner .container {
	width: 100%;
	min-width: 1350px;
}
.navbar-inverse .navbar-inner .container .brand {
	width: 160px;
	padding: 10px 0;
	text-align: center;
	margin: 0;
}
#gnb {
	float:right;
}
#location {
	color: #eee;
	padding: 10px 5px;
	float:left;
	font-size: 12px;
	padding-right: 40px;
}
#time {
	color: #aaa;
	padding: 10px 5px;
	float:left;
	font-size: 12px;
}


#content {
	width: 100%;
}
#sidebar-left {
	float: left;
	width: 180px;
}
#side-menu {
	list-style: none;
	margin-left: 20px;
	margin-bottom: 0;
}
#side-menu>li {
	position: relative;
	padding-left: 15px;
	background-color: #444;
	border-top: solid 1px #555;
}
#side-menu>li>a {
	display: block;
	padding: 15px 20px 10px 20px;
	border-bottom: solid 1px #333;
	color: #999;
	margin-left: -15px;
	outline: 0px;
	font-size: 12px;
	text-decoration: none;
	font-weight: 600;
}
#side-menu>li>a>i {
	position: absolute;
	width:15px;
	height:15px;
	opacity: 0.7;
}
#side-menu>li>a>span {
	position: relative;
	top: -2px;
	margin-left: 25px;
}


#colum {
	margin-left: 180px;
	min-height: 500px;
	border-left: solid 1px #ddd;
}
#colum.local {
	padding-top: 20px;
}
#select {
	height: 90px;
}
#select .row {
	height: 40px;
}
.box {
	background-color: #fff;
	padding: 5px 0;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 1px 1px 0px 0px #e0e0e0;
	box-shadow: 1px 1px 0px 0px #e0e0e0;
}
.box.h {
	height: 100%;
}
#select .box {
	text-align: center;
	cursor: pointer;
}
.box.active {
	background-color: #65b6dc;
	color: white;
	font-weight: 600;
}
#local-info {
	padding-top:40px;
}
#local-info .box {
	padding: 10px;
}
#local-info .location {
	padding: 0 0 20px 0;
}
#local-info .location .city-ko {
	font-size: 30px;
	font-weight: 900;
}
#local-info .location .city-en {
	color: #808080;
	margin-left: 10px;
}
#local-info .location .update-time {
	margin-left: 30px;
	font-size: 10px;
	color: #bbb;
	text-shadow: 1px 1px #fff;
}
#colum1 {
	height: 200px;
}
.tempbox {
	height: 170px;
	text-align: center;
}
#weather-now .temp {
	margin-top: 15px;
}
#weather-now .t {
	font-size:100px;
	line-height: 100px;
	color: #32a0ee;
}
#weather-now .v {
	font-size: 30px;
	color: #32a0ee;
	
}
#weather-now .c {
	font-size:25px;
	line-height: 60px;
	color: #999;
}
#weather-humidity .humi {
	margin-top:15px;
}
#weather-humidity .humi .t {
	font-size: 100px;
	line-height: 100px;
	color:#85C570;
}
#weather-humidity .humi .p {
	font-size: 30px;
	color: #85C570;
}
#weather-humidity .text {
	font-size:25px;
	line-height: 60px;
	color: #999;
}
#weather-wind .direction {
	margin-top: 15px;
}
#weather-wind .direction .d {
	font-size: 50px;
	line-height: 50px;
	color:#ffa951;
}
#weather-wind .direction .u {
	font-size: 15px;
	line-height: 15px;
	color:#ffa951;
}
#weather-wind>.box>.speed {
	background-color: #FFF0E2;
	border-radius: 4px;
}
#weather-wind .speed .s {
	font-size: 50px;
	line-height: 50px;
	color:#ffa951;
}
#weather-wind .speed .u {
	font-size: 15px;
	line-height: 15px;
	color:#ffa951;
}
#weather-wind .text {
	font-size:25px;
	line-height: 60px;
	color: #999;
}
#weather-sun>.box>span.s {
	margin-top:15px;
	width: 45%;
	display: inline-block;
}
#weather-sun .ab {
	position: absolute;
	margin-left: 180px;
	margin-top: 25px;
	border-left: solid 1px #ddd;
	height: 100px;
}
#weather-sun span .time .a {
	color: #FFE02F;
	font-size:100px;
	line-height: 100px;
}
#weather-sun span .time .n {
	color: #FFE02F;
	font-size: 15px;
	line-height: 15px;
}
#weather-sun span .t {
	font-size:25px;
	line-height: 60px;
	color: #999;
}
#svg-area {
	margin-top:50px;
	padding-bottom: 50px;
}
#svg-area .title {
	margin-bottom: 15px;
}
#svg-area .title .t-ko {
	font-size: 17px;
	font-weight: 900;
	color: #666;
}
#svg-area .title .t-en {
	color: #808080;
	margin-left: 10px;
}
#forecast {
	height: 300px;
	background-color:white;
}


#footer {
	text-align: center;
	padding: 20px 0;
	border-top: 1px solid #e5e5e5;
	font: 13px Helvetica, arial, freesans, clean, sans-serif;
	min-width: 1350px;
}
