/*사용중*/
.line{
    fill: none;    
    stroke: steelblue;
    stroke-width: 2;
    opacity: .7;
}

.circle {
    stroke: none;
    fill: red;
    fill-opacity: .7;
}

.bubble{
    fill-opacity: .8;    
}
.txt_type1{
    fill: white;
}


