// header

div.navbar.navbar-inverse.navbar-fixed-top
	div.navbar-inner
		div.container
			a(href="#").brand Weather
			div#location.nav-collapse.collapse 위치를 찾는 중 (브라우저의 GPS옵션을 켜세요)
			div#time.nav-collapse.collapse 시간을 가져오는 중
			div#gnb.nav-collapse.collapse
				ul.nav
					li.active
						a(href="#") Home
					li
						a(href="#") Weather