//side-bar

div#sidebar-left
	ul#side-menu
		li
			a(href="/")
				i.icon-home
				span 처음으로
		li
			a(href="/all")
				i.icon-star
				span 전체보기
		li
			a(href="/local")
				i.icon-map-marker
				span 지역보기
		