extends helpers/layout

block link
	link(rel="stylesheet", href="css/index.css")
	script(src="js/weather.js")
	
block content
	// content
	
	div.row
		include helpers/sidebar
		
		div#colum
			div adsf