extends helpers/layout

block link
	link(rel="stylesheet", href="css/index.css")
	script(src="js/weather.js")
	
block content
	div.row
		include helpers/sidebar
		
		div#colum.local
			div.row#select
				div.row
					div.span2 
						div.box.active
							span 서울
					div.span2 
						div.box
							span 대전
					div.span2 
						div.box
							span 대구
					div.span2 
						div.box
							span 전주
					div.span2 
						div.box
							span 광주
					div.span2 
						div.box
							span 부산
					div.span2 
						div.box
							span 제주
				div.row
					div.span2 
						div.box
							span 강릉
					div.span2 
						div.box
							span 울릉
					div.span2 
						div.box
							span 독도
			div.container-fluid#local-info
				div.location 
					span.city-ko 서울
					span.city-en Seoul
					span.update-time Thu, 12 Dec 2013 2:00 am KST
				div.row
					div.span3#weather-now.tempbox
						div.box.h
							div.temp
								span.t -2
								span.v C
							div.c partly cloud
					//		div.time Thu, 12 Dec 2013 2:00 am KST
					div.span3#weather-humidity.tempbox
						div.box.h
							div.humi
								span.t 62
								span.p %
							div.text humidity
					div.span3#weather-wind.tempbox
						div.box.h
							div.direction
								span.d 311
								span.u deg
							div.speed
								span.s 2
								span.u km/h
							div.text wind
					div.span5#weather-sun.tempbox
						div.box.h
							div.ab :
							span.rise.s
								div.time 
									span.a 05
									span.n am
								div.t sun rise
							span.set.s
								div.time
									span.a 07
									span.n pm
								div.t sun set
					//
					//div.span11#weather-forecast
					//	div.t 주간예보
					//	div.box.h
					//		div.daily
					//			div.date 31 Dec 2013
					//			div.day Wed
					//			div.fore
					//				div.high 최대 
					//					span 5
					//				div.low 최소
					//					span 1
					//				div.text clear
					//
				
	script.
		var CityCode = {
			'서울': 'KSXX0037',
			'대전': 'KSXX0027',
			'대구': 'KSXX0026',
			'전주': 'KSXX0047',
			'광주': 'KSXX0014',
			'부산': 'KSXX0050',
			'제주': 'KSXX0053',
			'강릉': 'KSXX0011',
			'울릉': 'KSXX0039',
			'독도': 'KSXX0036'
		};
		Weather.getWeather(function(data){
			console.log(data);
		}, {'서울': 'KSXX0037'});